<!DOCTYPE html>
<html>
    <head>
        <title>Convert Page</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <script type="text/javascript">
            $(document).ready( function () {
                $('#myTable').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                    'copy', 'excel'
                ],
                searching: false,
                "ordering": false
            });
        } );
        </script>
    </head>
    <body>
        <form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input type="file" name="input_csv" accept=".csv">
            <input type="submit" value="upload">
        </form>
        <table id="myTable" class="cell-border">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Text_POS</th>
                    <th>Only_POS</th>
                    <th>Text_Lemma</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in content %}
                <tr>
                    <td>{{ instance.text }}</td>
                    <td>{{ instance.pos }}</td>
                    <td>{{ instance.opos }}</td>
                    <td>{{ instance.lemma }}</td>
                </tr>
                {% endfor %}
            </tbody>


        </table>
    </body>
</html>